<div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">
  <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4">
    <div class="mb-4">
      <h1 class="text-gray-900 font-bold text-3xl">Todo List</h1>
      <div class="flex mt-4">
        <input class="add-todo-input" placeholder="Add Todo">
        <button class="add-btn">Add</button>
      </div>
    </div>
  </div>
</div>